/*
@fontface
{
	font-family: 'SEGA LOGO FONT';
	font-style: normal;
	font-weight: normal;
	src:local('SEGA LOGO FONT'),url('SEGA.TTF'),format('TTF');
}*/

@font-face {
    font-family: 'sega_logo_fontregular';
    src: local('SEGA LOGO FONT'),url('sega-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

h1
{
	font-family: sega_logo_fontregular;
	font-weight: 200;
	color: #00b3b3;
}