.output
{
	border: 2px solid #cccccc;
	width: 80%;
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	background: #f2f2f2;
	font-family: "Arial";
	line-height: 25px;
	letter-spacing: 1px;
	color: #404040;
}